In [1]:
import pandas as pd

In [4]:
df_jan = pd.read_parquet('C:/Users/Administrator/Downloads/yellow_tripdata_2023-01.parquet')
df_feb = pd.read_parquet('C:/Users/Administrator/Downloads/yellow_tripdata_2023-02.parquet')

In [5]:
df_jan.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00

In [6]:
df_feb.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1,2023-02-01 00:32:53,2023-02-01 00:34:34,2.0,0.30,1.0,N,142,163,2,4.4,3.50,0.5,0.0,0.0,1.0,9.40,2.5,0.00
1,2,2023-02-01 00:35:16,2023-02-01 00:35:30,1.0,0.00,1.0,N,71,71,4,-3.0,-1.00,-0.5,0.0,0.0,-1.0,-5.50,0.0,0.00
2,2,2023-02-01 00:35:16,2023-02-01 00:35:30,1.0,0.00,1.0,N,71,71,4,3.0,1.00,0.5,0.0,0.0,1.0,5.50,0.0,0.00
3,1,2023-02-01 00:29:33,2023-02-01 01:01:38,0.0,18.80,1.0,N,132,26,1,70.9,2.25,0.5,0.0,0.0,1.0,74.65,0.0,1.25
4,2,2023-02-01 00:12:28,2023-02-01 00:25:46,1.0,3.22,1.0,N,161,145,1,17.0,1.00,0.5,3.3,0.0,1.0,25.30,2.5,0.00

In [7]:
df_jan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3066766 entries, 0 to 3066765
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
dtypes: datetime64[us](2), float64(12), int64(4), object(1)
memory usage: 444.6+ MB

In [8]:
#Fnd the duration by substracting pickupdate from dropoff date
df_jan['duration'] = df_jan['tpep_dropoff_datetime'] - df_jan['tpep_pickup_datetime']
df_feb['duration'] = df_feb['tpep_dropoff_datetime'] - df_feb['tpep_pickup_datetime']

In [9]:
df_jan['duration'].head()

0   0 days 00:08:26
1   0 days 00:06:19
2   0 days 00:12:45
3   0 days 00:09:37
4   0 days 00:10:50
Name: duration, dtype: timedelta64[us]

In [10]:
#Convert duration to minutes
df_jan['duration'] = df_jan['duration'].dt.total_seconds() / 60
df_feb['duration'] = df_feb['duration'].dt.total_seconds() / 60

In [11]:
df_feb['duration'].head()

0     1.683333
1     0.233333
2     0.233333
3    32.083333
4    13.300000
Name: duration, dtype: float64

In [12]:
df_feb['duration'].describe()

count    2.913955e+06
mean     1.601591e+01
std      4.284210e+01
min     -4.361667e+01
25%      7.250000e+00
50%      1.180000e+01
75%      1.876667e+01
max      7.053617e+03
Name: duration, dtype: float64

In [13]:
df_jan['duration'].describe()

count    3.066766e+06
mean     1.566900e+01
std      4.259435e+01
min     -2.920000e+01
25%      7.116667e+00
50%      1.151667e+01
75%      1.830000e+01
max      1.002918e+04
Name: duration, dtype: float64

In [14]:
df_feb['duration'].describe()

count    2.913955e+06
mean     1.601591e+01
std      4.284210e+01
min     -4.361667e+01
25%      7.250000e+00
50%      1.180000e+01
75%      1.876667e+01
max      7.053617e+03
Name: duration, dtype: float64

count	2.913955e+06 before removing outliers for feb.                         
count	3.066766e+06 before removing outliers for jan

In [15]:
df_feb['duration'] = (df_feb['duration'] > 0) & (df_feb['duration'] < 60)
df_jan['duration'] = (df_jan['duration'] > 0) & (df_jan['duration'] < 60)

In [16]:
df_feb['duration'].describe()

count     2913955
unique          2
top          True
freq      2886378
Name: duration, dtype: object

In [17]:
df_jan['duration'].describe()

count     3066766
unique          2
top          True
freq      3041344
Name: duration, dtype: object

In [18]:
#Perentage of records left after removing outliers
print(f'{2.913955e+06/2913955:.2f} for february')
print(f'{3.066766e+06/3066766:.2f} for january')

1.00 for february
1.00 for january

In [19]:

df_jan['PULocationID'] = df_jan['PULocationID'].astype(str)
df_jan['DOLocationID'] = df_jan['DOLocationID'].astype(str)
df_feb['PULocationID'] = df_feb['PULocationID'].astype(str)
df_feb['DOLocationID'] = df_feb['DOLocationID'].astype(str)

In [20]:
from sklearn.feature_extraction import DictVectorizer

In [21]:
#Fit a dictionary vectorizer to columns=['PULocationID', 'DOLocationID'])
dv = DictVectorizer()
train_dicts = df_jan[['PULocationID', 'DOLocationID']].to_dict(orient='records')
X_train = dv.fit_transform(train_dicts)
val_dicts = df_feb[['PULocationID', 'DOLocationID']].to_dict(orient='records')
X_val = dv.transform(val_dicts)

In [22]:

df_jan = pd.get_dummies(df_jan, columns=['PULocationID', 'DOLocationID'])
df_feb = pd.get_dummies(df_feb, columns=['PULocationID', 'DOLocationID'])

In [24]:


from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
target = 'duration'
y_train = df_jan[target].values
lr = LinearRegression()
lr.fit(X_train, y_train)
y_pred = lr.predict(X_train)
mse = mean_squared_error(y_train, y_pred)

In [30]:
X_train

<3066766x518 sparse matrix of type '<class 'numpy.float64'>'
	with 6133532 stored elements in Compressed Sparse Row format>

In [31]:
print(f"MSE for training data: {mse}")

MSE for training data: 0.007682093976197865

In [32]:
#Validation
target = 'duration'
y_val = df_feb[target].values
lr = LinearRegression()
lr.fit(X_val, y_val)
y_pred = lr.predict(X_val)
mse = mean_squared_error(y_val, y_pred)

In [34]:
print(f"MSE for validation {mse}")

MSE for validation 0.008614832471453969